apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp-deployment
  labels:
    app: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: docker pull wil42/playground:v1   # CHANGE to v2 to update
          imagePullPolicy: Always
          ports:
            - containerPort: 8888
