apiVersion: v1
kind: Service
metadata:
  name: myapp-service
  labels:
    app: myapp
spec:
  selector:
    app: myapp
  ports:
    - name: http
      port: 80        # Cluster port
      targetPort: 8888   # App internal port
  type: ClusterIP
